<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709461482912-e7r70b51hsj1sg27f601756fp59iu9qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709461482912-e7r70b51hsj1sg27f601756fp59iu9qs</string>
	<key>API_KEY</key>
	<string>AIzaSyDESivpe7IpvAe6SsRwYNGC1ztm4ICSROQ</string>
	<key>GCM_SENDER_ID</key>
	<string>709461482912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jjtest.-90805001-i-firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-test-dd337</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-dd337.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709461482912:ios:6581274f1c9fc8fd</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-dd337.firebaseio.com</string>
</dict>
</plist>